<div class="card mb-2 shadow-sm">
  <div class="card-header py-2 pl-2 pr-3">
    <%= link_to users_path(comment.user.id) do %>
    	<div class="float-left commenter">
  	    <%= image_tag comment.user.avatar.url(:small), class: "comment-avatar d-inline-block" %>
    		<h6 class="d-inline-block"><%= comment.user.username %></h6>
    	</div>
    <% end %>
	<div class="float-right">
		<em class="text-muted"><%= time_ago_in_words(comment.created_at) %> ago</em>
	</div>
  </div>
  <div class="card-body">
  	<%= comment.body %>
    <% if user_permitted comment.user %>
  	 <%= link_to 'Delete', [comment.siting, comment], method: :delete, data: {confirm: 'Are you sure'} %>
    <% end %>
  </div>
</div>