<br>
<h3>Edit Siting</h3>
<% if @siting.errors.any? %>
	<% @siting.errors.full_messages.each do |message| %>
		<p class="alert alert-danger"><%= message %></p>
	<% end %>
<% end %>
<%= form_for @siting, html: { multipart: true } do |f| %>
	<p>
		<%= f.label :bird %><br>
		<%= f.text_field :bird, {:class => 'form-control' } %>
	</p>
	<p>
		<%= f.label :location %><br>
		<%= f.text_field :location, {:class => 'form-control' } %>
	</p>
	<p>
		<%= f.label :image %><br>
		<%= f.file_field :image, {:class => 'form-control' } %>
	</p>
	<p>
		<%= f.submit({:class => 'btn btn-primary'}) %>
		<%= link_to 'Delete Siting', siting_path(@siting), method: :delete, data: {confirm: 'Are you sure you want to delete this siting?'}, :class => 'btn btn-danger' %>
	</p>
<% end %>