<div class="row">
	<div class="col-12 p-0">
		<nav class="navbar navbar-expand-md navbar-dark bg-primary">
			<div class="navbar-brand"><%= @siting.bird %></div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#birdNav" aria-controls="birdNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="birdNav">
				<span class="navbar-text">
   	 				<%= @siting.location %>
  				</span>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<%= link_to 'Edit', edit_siting_path, {:class => 'btn btn-secondary navbar-btn d-block d-md-inline-block' } %>
					</li>
					<li class="nav-item mt-md-0 mt-2 ml-md-2 ml-0">
						<%= link_to 'Show on map', map_path(:id => @siting.id), {:class => 'btn btn-success navbar-btn d-block d-md-inline-block' }%>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<div class="img-full" style="background-image: url('<%= @siting.image.url %>')">
</div>