<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <% if not defined?(rendered) && rendered %>
          <br>
          <h2>Login</h2>
          <br>
        <% end %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <p>
          <%= f.label :login, "Email or Username" %><br />
          <%= f.text_field :login, {autofocus: true, autocomplete: "email", class: 'form-control' }  %>
        </p>

        <p>
          <%= f.label :password %><br />
          <%= f.password_field :password, {autocomplete: "off", class: 'form-control' }  %>
        </p>

        <% if devise_mapping.rememberable? -%>
          <p class="form-check">
            <%= f.check_box :remember_me, {class: 'form-check-input' }  %>
            <%= f.label :remember_me, {class: 'form-check-label' }%>
          </p>
        <% end -%>
        <div class="actions">
          <%= f.submit "Login", class: 'btn btn-primary d-block mb-1 ' + (defined?(rendered) && rendered ? 'w-100' : 'btn-lg') %>
          <%= link_to 'Forgot your password?', new_user_password_path %>
        </div>
      <% end %>
      <hr>
      <p>Don't have an account?</p>
      <%= link_to "Register", new_user_registration_path, class: 'btn btn-primary ' + (defined?(rendered) && rendered ? 'd-block' : '') %>
      </div>
    </div>
  </div>
</div>
